@model IEnumerable<Sistema_Bordo.Models.Detalles_Pedido>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estado_Pedidos.Nombre_Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pedido.Direccion_Envio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Productos.Codigo_Producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Asignacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Estado_Pedidos.Nombre_Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pedido.Direccion_Envio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Productos.Codigo_Producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Asignacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Detalle_Pedido }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Detalle_Pedido }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Detalle_Pedido })
        </td>
    </tr>
}

</table>
