@model IEnumerable<Sistema_Bordo.Models.Estado_Pedidos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Estado_Pedido }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Estado_Pedido }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Estado_Pedido })
        </td>
    </tr>
}

</table>
