@model Sistema_Bordo.Models.Productos

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Productos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedores.Compañia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedores.Compañia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo_Producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_Producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Costo_Estandar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Costo_Estandar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio_Listado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio_Listado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nivel_Objetivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nivel_Objetivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad_Unidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad_Unidad)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
