<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sistema de carga", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Inicio", "Index", "Home")</li>
            <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
            <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>*@
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <ul class="nav navbar-nav">
                                <li class="btn-info btn-block"> @Html.ActionLink("Areas", "Index", "Areas") </li>
                                <li class="btn-info btn-block">@Html.ActionLink("Categorias", "Index", "Categorias")</li>
                                <li class="btn-info btn-block">@Html.ActionLink("Clientes", "Index", "Clientes")</li>
                                <li class="btn-info btn-block">@Html.ActionLink("Productos", "Index", "Productos")</li>
                                <li class="btn-info btn-block"> @Html.ActionLink("Empleados", "Index", "Empleados") </li>
                                <li class="btn-info btn-block">@Html.ActionLink("Cargos", "Index", "Cargos")</li>
                                <li class="btn-info btn-block">@Html.ActionLink("Proveedores", "Index", "Proveedores")</li>
                            </ul>

                        </div>
                    </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pedidos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <ul class="nav navbar-nav">
                            <li class="btn-info btn-block">@Html.ActionLink("Detalles de Pedido", "Index", "DetallesPedido")</li>
                            <li class="btn-info btn-block">@Html.ActionLink("Estado de pedidos", "Index", "EstadoPedidos")</li>
                            <li class="btn-info btn-block">@Html.ActionLink("Pedidos", "Index", "Pedidos")</li>
                        </ul>

                    </div>
                </li>
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
